out/
*.iml
**/target/
/.idea/*
/crawler/*.iml
/website/*.iml

/crawler/src/main/webapp/node_modules
*.class
/crawler/.idea/workspace.xml
/crawler/target/*
/wikicrawl/pages/*
recommendation/train
crawler/src/main/resources/firebase-sa.json
.DS_Store
crawler/publications