<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQL8Dialect
        </property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Assume test is the database name -->

        <property name="connection.pool_size">100</property>
        <property name="connection.username">user</property>
        <property name="connection.password">secret</property>
        <property name="hibernate.connection.url">jdbc:mysql://unidisk_db:3306/unidisk</property>

        <mapping class="de.unidisk.entities.hibernate.Keyword"/>
        <mapping class="de.unidisk.entities.hibernate.KeyWordScore"/>
        <mapping class="de.unidisk.entities.hibernate.Project"/>
        <mapping class="de.unidisk.entities.hibernate.SearchMetaData"/>
        <mapping class="de.unidisk.entities.hibernate.Topic"/>
        <mapping class="de.unidisk.entities.hibernate.TopicScore"/>
        <mapping class="de.unidisk.entities.hibernate.University"/>


    </session-factory>


</hibernate-configuration>
